*
{
    margin: 0;
    padding: 0;
}
form{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
form input{
    height: 5%;
    width: 30%;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
form button{
    height: 5%;
    width: 8%;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
}
h1{
    display: flex;
    justify-content: center; 
}
.container{
    
}